.container {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top left, #013631 4%, #3f0b32 10%, #121212 35%,  #121212 60%, #013631 70%, #121212 100%);
  /* background: radial-gradient(circle at top left, #01443d -24%, #4a0c3a 8%, #121212 28%, #4a0c3a 58%, #121212 88%); */
  color: #fff;
  /* padding: 1.5rem; */
  line-height: 1.6;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header{
  padding: 1.5rem;
}

/* Conteúdo acima da sombra */
.container > * {
  position: relative;
  z-index: 1;
}

/* Cabeçalho */
.cabecalho {
  text-align: center;
}

.logo {
  max-width: 16rem;
  margin-bottom: 1rem;
}

.subtitulo {
  font-size: 0.75rem;
  color: #ccc;
}

/* Seções */
.secao {
  margin: 1px 0;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 25rem;
  justify-content: center;
}

.secaoNot{
  display: flex;
  align-items: center;
}

.titulo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.texto {
  max-width: 20rem;
  margin: 1rem auto;
  color: #ddd;
}

/* Destaque */
strong {
  color: #03D5B6;
}

/* Imagens */
.imagemWrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.notebook {
  margin-bottom: 0.2rem;
  max-width: 15rem;
  width: 100%;
}

.mlWrapper {
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.mlTitulo {
  font-size: 1.4rem;
  opacity: 1;
  color: transparent;
  background: linear-gradient(to right, #b833a0, #037457); /* gradiente ou cor sólida */
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0;
}

.mlSubtitulo {
  font-size: 1.4rem;
  color: #ffffff;
}

/* Cards de tecnologias */
.cartoes {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.mlWrapper p{
  font-size: 1.1rem;
}

.cartao {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s;
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

#django{
  width: 1.4rem;
}

.cartao img{
  max-width: 68%;
  height: 60%;
  margin-top: 2rem;
}

.cartao p{
  font-size: 10px;
  color: #872E68;
  width: 100px;
  text-align: center;
  margin-bottom: 30px;

}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.equipe{
  width: 50%;
  font-size: 10px;
}

.vertical{
  color: white;
  width: 1px;           
  height: 50px;     
  border: none;         
  margin: 0 10px;    
}

.linha1{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.logos{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.logos img{
  width: 42%;
}


@media (min-width: 1024px) {
  .secao {
    flex-direction: column;
    padding: 2rem 2rem;
  }

  .mlWrapper, .imagemWrapper {
    flex: 1;
    max-width: 40%;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  .equipe {
    text-align: right;
    font-size: 12px;
  }

  .container {
    transform: scale(1.3);
    transform-origin: top center;
  }

  .notebook {
    width: 200%;
  }

  .imagemWrapper{
    display: none;
  }

  .mlTitulo {
    font-size: 3rem;
    width: 25rem;
    text-align: center;
    opacity: 1;
    color: transparent;
    margin: 0;
  }

  .mlSubtitulo{
    display: none;
  }

  .texto {
    max-width: 59rem;
    margin: 1rem auto;
  }
}